.buttons {
  &__default,
  &__save {
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    border: none;
    width: 215px;
    height: 50px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
  }

  &__default {
    color: #3861fb;
    background-color: #f0f6ff;
    margin-right: 15px;

    &:hover {
      background-color: darken(#f0f6ff, 5%);
    }
  }

  &__save {
    background-color: #3861fb;
    color: #fff;

    &:hover {
      background-color: darken(#3861fb, 10%);
    }
  }
}